<!-- Laptop version -->
<div class="container hide-on-small my-5 py-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class=" my-4">
        <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1596459675/spray_series_s0seu8.jpg", class: "rounded-top", style: "height:700px; object-position: center center; object-fit: cover; width: 100%"%>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center p-5">
      <div>
        <h5 class="mb-5">SPRAY SERIES</h5>
        <p class="pb-3">Aromatherapy Mist designed for all-over use, selected from pure essential oils to transform your mood anywhere, anytime. Close your eyes and mouth and spray your Aromatherapy Mist from above your head. Inhale deeply and let it transform your mood and wellbeing with a Revitalising, Calming or Balancing scent. Prepare for a good night’s sleep by spraying Lavender Mist on your bed linen and pillow before you climb into bed. Prepare for a mood booster with Morning Mist as body perfume.</p>
        <div class="row mb-4">
          <div class="col-12 col-md-6 px-5">
            <p>Helps to heal burns, cuts and itchy skin</p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p>Therapeutic essential oil and Floral extract.</p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p>Helps to heal burns, cuts and itchy skin</p>
          </div>
          <div class="col-12 col-md-6 px-5">
            <p>Therapeutic essential oil and Floral extract.</p>
          </div>
        </div>
        <%= link_to "BROWSE OUR PRODUCTS", "", class:"btn btn-square-black" %>
      </div>
    </div>
  </div>
</div>
<!-- Mobile version -->
<div class="container hide-on-large my-5 py-5">
  <div class="align-items-center">
    <div>
      <h5 class="mb-4 text-center">SPRAY SERIES</h5>
      <div class="my-4">
        <%= cl_image_tag "https://res.cloudinary.com/fogapothecary/image/upload/v1596459675/spray_series_s0seu8.jpg", class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
      </div>
      <p class="px-3">Aromatherapy Mist designed for all-over use, selected from pure essential oils to transform your mood anywhere, anytime. Close your eyes and mouth and spray your Aromatherapy Mist from above your head. Inhale deeply and let it transform your mood and wellbeing with a Revitalising, Calming or Balancing scent. Prepare for a good night’s sleep by spraying Lavender Mist on your bed linen and pillow before you climb into bed. Prepare for a mood booster with Morning Mist as body perfume.</p>
      <div class="row mb-4">
        <div class="col-8 offset-2">
          <p>Helps to heal burns, cuts and itchy skin</p>
        </div>
        <div class="col-8 offset-2">
          <p>Therapeutic essential oil and Floral extract.</p>
        </div>
        <div class="col-8 offset-2">
          <p>Helps to heal burns, cuts and itchy skin</p>
        </div>
        <div class="col-8 offset-2">
          <p>Therapeutic essential oil and Floral extract.</p>
        </div>
      </div>
      <%= link_to "BROWSE OUR PRODUCTS", "", class:"btn btn-square-black" %>
    </div>
  </div>
</div>