<h3 class="hide-on-small text-center" style="font-size: 30px">BROWSE OUR PRODUCTS</h3>
<h5 class="hide-on-large text-center px-3">BROWSE OUR PRODUCTS</h5>
<div class="row mx-3 mb-5">
  <div class="col-12 col-md-3 my-4">
    <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
    <p class="mt-3 text-center" style="font-size: 16px">Lavender Mist</p>
  </div>
  <div class="col-12 col-md-3 my-4">
    <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
    <p class="mt-3 text-center" style="font-size: 16px">Bug Off Spray</p>
  </div>
  <div class="col-12 col-md-3 my-4">
    <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
    <p class="mt-3 text-center" style="font-size: 16px">Starlight Candle</p>
  </div>
  <div class="col-12 col-md-3 my-4">
    <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:360px; object-position: center center; object-fit: cover; width: 100%"%>
    <p class="mt-3 text-center" style="font-size: 16px">Eco Spray</p>
  </div>
</div>