.journal-card {
  > div {
    > h5 {
      color: transparent;
    }
  }
}

.journal-card:hover {
  > div {
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    border-radius: 360px;
    > h5 {
      color: white;
    }
  }
}
