<div class="">
  <%= cl_image_tag @product.picture1, height: 300, width: 400, crop: :fill, class:"product-shape" %>
</div>
<h1>Hestsetest</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident tenetur culpa unde itaque commodi porro officiis, minima, odit ipsa ipsum aspernatur nesciunt! Reprehenderit alias aut dicta totam! Sapiente, sit, id?</p>